html {
    font-family: "Trebuchet MS";
    margin: 0;
    padding: 0;
}

#iframe-main {
    background-image: url('../img/splash2.png');
}

.posting {
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.overview {
    display: flex;
}

h4 {
    float: left;
}

.job-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
.company {
    font-size: 1rem;
    color: #555;
    padding-top: 0.35rem;
}
  
.location {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    color: #888;
}
  
.description {
    margin-top: 1rem;
}

.apply {
    color: #fff;
    text-decoration: none;
}

#listings {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 98%
}

#apply {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0b3562;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.nobr {
    white-space: nowrap
}