/* Begin basic HTML elements */
html {
  font-family: "Trebuchet MS";
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

body {
  overflow-x: hidden;
}

header {
  background-color: #04003b;
  color: #fff;
  padding: 1rem 4px;
  text-align: center;
}

h2 {
  text-align: center;
}

footer {
  text-align: center;
  /* padding: 1rem 0; */
  background-color: #9e9d9d;
  color: #fff;
  position: absolute;
  bottom: 0;
  /* width: 100%; */
}

iframe {
  width: 100%;
  max-width: 99%;
  min-width: 99%;
  height: 700px;
}

#postForm {
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* End basic HTML elements */

/* Begin login forms */
#authForm {
  text-align: center;
}

input[type=username], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login {
  background-color: #6da3db;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
/* End login forms */

/* Begin navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b3562;
}

li {
  float: center;
  border-right:1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #6da3db;
}
/* End navbar */

/* Begin buttons */
#submit {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  text-align: left;
  margin: 0 auto;
}

#submit:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

#submit:active {
  position: relative;
  top: 1px;
}

#approve {
  padding: 0.5rem 1rem;
  background-color: #50C878;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 3px;
  cursor: pointer;
}

#delete {
  padding: 0.5rem 1rem;
  background-color: #C70039;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* End buttons */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Start chart organization tabs */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* End chart organization tabs */