/* Begin basic HTML elements */
html {
  font-family: "Trebuchet MS";
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

body {
  overflow-x: hidden;
}

header {
  background-color: #04003b;
  color: #fff;
  padding: 1rem 4px;
  text-align: center;
}

h2 {
  text-align: center;
}

footer {
  text-align: center;
  /* padding: 1rem 0; */
  background-color: #9e9d9d;
  color: #fff;
  position: absolute;
  bottom: 0;
  /* width: 100%; */
}

iframe {
  width: 100%;
  max-width: 99%;
  min-width: 99%;
  height: 700px;
}

#authForm {
  text-align: center;
}

#postForm {
  text-align: left;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* End basic HTML elements */


/* Begin navbar */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}
/* End navbar */

/* Begin buttons */
#students {
  padding: 0.5rem 1rem;
  background-color: #ffc845;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#employers {
  padding: 0.5rem 1rem;
  background-color: #be0027;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#schools {
  padding: 0.5rem 1rem;
  background-color: #0b3562;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submit {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  text-align: center;
  margin: 0 auto;
}

#submit:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

#submit:active {
  position: relative;
  top: 1px;
}

#approve {
  padding: 0.5rem 1rem;
  background-color: #50C878;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 3px;
  cursor: pointer;
}

#delete {
  padding: 0.5rem 1rem;
  background-color: #C70039;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* End buttons */